.btn {
	border-radius: 0;
	border: 0;
	text-transform: uppercase;
	background-color: #b9b8b9;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	transition: background-color 200ms ease;
	@include font-size(0.7);
	line-height: 1;
	padding: 0.9rem 1.5rem;

	&:hover {
		background-color: #989799;
	}

	&:focus,
	&:active {
		outline: 0;
		background-color: #b9b8b9;
	}
}

.btn-sm {
	@include font-size(0.7);
	line-height: 1;
	padding: 0.9rem;
}

.btn-primary {
	background-color: color('red');

	&:hover {
		background-color: #ff7561;
	}

	&:focus,
	&:active,
	&:active:focus  {
		background-color: color('red');
		outline: 0;
	}
}

.btn-default {
	background-color: transparent;
	border: 1px solid color('white');
	color: color('white');

	&:hover {
		color: color('white');
		background-color: transparentize( color('white'), 0.8 );
		border: 1px solid color('white');
	}
}

button {
	&:focus,
	&:active {
		outline: 0;
	}
}