// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.form-control {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid color('white');
	box-shadow: none;
	border-radius: 0;
	padding: 0.5em 0;
	color: #9e9e9f;

	&:focus {
		box-shadow: none;
		outline: 0;
		border-color: #c4c4c5;
	}
}



///// Ninja Forms /////

.ninja-forms-field {
	@extend .form-control;

	&.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		display: block;
		width: 100%;
	}

	&.bootstrap-select {
		ul.dropdown-menu {
			li:first-child {
				display: none;
			}
		}
	}
}

input[type=submit] {
	&.ninja-forms-field {
		@extend .btn;
		@extend .btn-primary;
		float: right;
	}
}

.ninja-forms-required-items {
	display: none;
}



///// Bootstrap Select /////

.bootstrap-select {

	.dropdown-toggle {
		background-color: lighten( color('gray'), 30%);
		color: color('white');
		text-transform: none;
		font-family: $font-family-serif;
		font-weight: 400;
		padding: 20px 15px;
		border: 0;
		@include font-size(1);

		&:hover,
		&:focus {
			color: color('white');
			outline: 0 !important;
			box-shadow: none;
		}

		.bs-caret {
			position: relative;

			.caret {
				border: 0;
				top: -6px;
		    font-size: 35px;
		    right: 25px;

				&:before {
					content: '\f0dc';
					font-family: fontawesome;
					line-height: 1;
					top: 0;
				}
			}
		}
	}

	&.open {
		.dropdown-toggle {
			background-color: lighten( color('gray'), 30%);
			color: color('white');
			box-shadow: none;

			&:hover,
			&:focus {
				background-color: lighten( color('gray'), 30%);
				color: color('white');
				outline: 0;
			}
		}
	}

	.dropdown-menu {
		background-color: lighten( color('gray'), 30%);
		color: color('white');
		border-radius: 0;
		border: 0;
		box-shadow: none;
		padding: 0;
    margin: 0;
    margin-top: 16px;
    border-top: 2px solid color('white');

		& > li {

			& > a {
				color: color('white');
				transition: background-color 200ms ease;
				padding: 8px 15px;

				&:hover,
				&:focus {
					background-color: lighten( color('gray'), 15%);
					outline: 0;
					color: color('white');
				}
			}
		}
	}
}



///// Pagination /////

.pagination {
	@include font-size(0.9);
	border-radius: 0;

	& > li > a,
	& > li > span,
	.disabled span,
	.disabled span {
		background-color: #e4e3e2;
		color: color('gray');
		border-color: #e4e3e2;

		&:hover,
		&:hover span {
			background-color: lighten(#e4e3e2, 10%);
			color: color('gray');
			border-color: lighten(#e4e3e2, 10%);
		}
	}

	& > li:last-child>a, 
	& > li:last-child>span {
		border-radius: 0;
	}

	& > li:first-child>a, 
	& > li:first-child>span {
		border-radius: 0;
	}
}