// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}



.container {
	@include media(">tablet") {
    width: 720px;
	}

	@include media(">tabletwide") {
    width: 925px;
	}

	@include media(">laptop") {
    width: 1170px;
	}

	@include media(">desktop") {
    width: 1400px;
	}
}

.content-container {
  @extend .container;

    @include media(">tablet") {
      width: 650px;
    }

    @include media(">tabletwide") {
      width: 770px;
    }

    @include media(">laptop") {
      width: 1020px;
    }

    @include media(">desktop") {
      width: 1200px;
    }
}