/*
 * => BROWSER SPECIFIC STYLES
 * ---------------------------------------------------------------------------*/

@include browser("Firefox") {
	.float-right {
		display: flex;
	}

	article.post .entry-more {
		flex-wrap: wrap;

		.share-menu {

			a {
				width: 48px;
			}
		}

		&.active {

			.share-menu {
				width: 142px;
			}
		}
	}
}

@include browser("Trident") {
	.float-right {

		.subscribe {
			vertical-align: top;

			.subscribe-search #searchform input {
				height: 42px;
			}

			.search-btn .fa {
				margin: 0;
			}
		}
	}

	.posts-filter .searchandfilter .sf-field-post_date .sf_date_field input {
		height: 30px;
	}
}