/*
 * => GLOBAL ELEMENTS STYLES
 * ---------------------------------------------------------------------------*/

html {
  font-size: $font-size-base - 4;
  -ms-text-size-adjust: $font-size-base - 4;
  -webkit-text-size-adjust: auto;

  @media (min-width: $screen-xs-min) {
    font-size: $font-size-base - 2;
	  -ms-text-size-adjust: $font-size-base - 2;
  }
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
	  -ms-text-size-adjust: $font-size-base;
  }

  body {
    opacity: 0;
  }

  &.wf-active body,
  body#tinymce {
    opacity: 1;
  }
}

.pullquote {
  background-image: url(../images/CALLOUT-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.6em 0 3em;
  margin: 1.2em 0 2em;

  p {
    @include font-size(2.25);
    line-height: 1.5;
    margin-bottom: 0;
  }

  cite {
    display: block;
    @include font-size(1.3);
    margin-top: 2rem;
    font-style: normal;
  }
}

p,
ol,
ul {
  line-height: 1.65;
  @include font-size(1.1);
  margin-bottom: 1.5em;
}

a {
  transition: color 200ms ease;
  
  &:hover,
  &:focus {
    text-decoration: none;
    color: color('blue');
  }
}

main a {
  color: color('blue');

  &:hover,
  &:focus {
    color: #4CB3D8;
  }  
}

img {
  max-width: 100%;
}

.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color('blue');
  }
}

h1 {
  @include font-size(2.25);

  @include media(">phone") {
    @include font-size(2.75);
  }
}

h2 {
  margin-top: 18px;
}