/*
 * => COLOR VARS & MIXINS
 * ---------------------------------------------------------------------------*/

/* Set the main site colors here. This will be used to auto-generate classes elsewhere. */
$mainColors: (
	'white': #ffffff,
	'black': #000000,
	'bluedark': #013349,
  'blue': #0093c9,
  'bluelight': #8099a4,
	'gray':  #777779,
  'red':  #ff3a1e,
);

// return color value from given key
@function color($key) {
  @if map-has-key($mainColors, $key) {
    @return map-get($mainColors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// Usage - background-color: color('white');



/*
 * => BOOTSTRAP VARIABLES OVERRIDES
 * ---------------------------------------------------------------------------*/

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         color('bluedark');
$text-color:            color('gray');

$font-size-base:          20px;

$font-family-sans-serif:  ff-dagny-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       ff-more-web-pro, "Times New Roman", Times, serif;

$font-family-base:        $font-family-serif;
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;


// Navbar

$navbar-default-color:             color('bluelight');
$navbar-default-bg:                color('bluedark');

$navbar-default-link-color:                color('bluelight');
$navbar-default-link-hover-color:          darken( color('bluelight'), 10% );
$navbar-default-link-active-color:         color('white');
$navbar-default-link-active-bg:            #406576;

$navbar-height: 100px;

$screen-xs:                  533px;
$screen-sm:                  768px;
$screen-md:                  1024px;
$screen-lg:                  1280px;



/*
 * => SLICK OVERRIDES
 * ---------------------------------------------------------------------------*/


$slick-font-family: fontawesome;
$slick-prev-character: '';
$slick-next-character: '';
$slick-loader-path: "../images/";