///// Footer Styles /////

.content-info {
	background-color: color('bluedark');
	color: color('bluelight');
	padding: 2em 0;
	margin-top: 3rem;
	text-align: center;
	@include font-size(1);

	.social {
		margin-bottom: 20px;

		@include media(">tabletwide") {
			display: none;
		}

		ul {
			margin: 0;
		}

		a {
			background-color: #4d707f;
			color: color('bluedark');
			height: 42px;
			width: 42px;
			border-radius: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26px;
			transition: background-color 200ms ease;

			&:hover {
				color: color('bluedark');
				background-color: #8ca3ad;
			}
		}
	}

	.copyrights {
		display: block;
		margin-bottom: 6px;

		@include media(">tablet") {
			display: inline;
			margin: 0;
		}
	}

	a {
		color: color('bluelight');

		&:hover {
			color: color('white');
		}
	}

	.rights {
		@include media("<=355px") {
			display: block;
			padding-bottom: 6px;
		}
	}

	.footer-divider {
		margin: 0 0.8em;

		@include media(">phone") {
			margin: 0 1em;
		}

		
		&.first {

			@include media("<=355px") {
				display: none;
			}
		}
	}

	.legal {
		margin-top: 1rem;
		@include font-size(0.6);
	}
}