.navbar {
	margin: 0;
	border: 0;

	.navbar-header {
		margin: 0;

		@include media(">tablet") {
			margin-right: 1.5em;
		}

		@include media(">tabletwide") {
			margin-right: 2.5em;
		}

		@include media(">laptop") {
			margin-right: 3em;
		}
	}

	.navbar-brand {
		height: auto;
		padding: 0.6em 0;
		
		img {
			height: 70px;
		}
	}

	& > .container .navbar-brand {
		margin: 0;
	}

	.navbar-toggle {
		border: 0;
		margin: 27px 50px 0 0;

		&:hover,
		&:focus {
			background-color: transparent;
		}

		&:hover {
			.icon-bar {
				background-color: #8ca3ad;
			}
		}

		.icon-bar {
			width: 35px;
			height: 5px;
			background-color: #4d707f;
			transition: background-color 200ms ease;

			& + .icon-bar {
		    margin-top: 6px;
			}
		}
	}

	.navbar-nav {
		margin: 0 -15px;

		& > li {

			& > a {
				color: color('white');
				@include font-size(1);
				transition: background-color 200ms ease;

				@include media(">tablet") {
					color: color('bluelight');
					@include font-size(0.85);
					padding: 36px 11px;
				}

				@include media(">tabletwide") {
					@include font-size(1);
					padding: 36px 15px;
				}

				&:hover {
					background-color: color('bluedark');

					@include media(">tablet") {
						background-color: transparent;
					}
				}
			}

			&:hover {
				a {
					color: color('white');

					@include media(">tablet") {
						background-color: #406576;
					}
				}
			}

			&.dropdown {

				.dropdown-menu {
					border-radius: 0;
					border: 0;
					box-shadow: none;
					background-color: #406576;
					padding: 0;

					a {
						transition: background-color 200ms ease;
						@include font-size(1);
						padding: 0.5rem 2rem;

						@include media(">tablet") {
							padding: 15px 15px 12px;
							min-width: 220px;
						}

						&:hover {
							@include media(">tablet") {
								background-color: color('bluedark');
							}
						}
					}
				}

				&:hover {
					.dropdown-menu {
						@include media(">tablet") {
							display: block;
						}
					}
				}

				&.open {
					a {
						background-color: transparent;
					}

					.dropdown-menu {
						a {
							background-color: #7f98a3;
							color: color('white');
							transition: background-color 200ms ease;

							&:hover {
								background-color: color('bluedark');

								@include media(">tablet") {
									background-color: transparent;
								}
							}

							@include media(">tablet") {
								background-color: transparent;
							}
						}
					}
				}
			}
		}

		.active {
			a {
				background-color: color('bluedark');

				&:hover {
					background-color: color('bluedark');
				}

				@include media(">tablet") {
					background-color: #406576;

					&:hover {
						background-color: #406576;
					}
				}
			}
		}
	}

	.navbar-collapse {
		border: 0;
		background-color: #4d707f;
		-webkit-overflow-scrolling: auto;
		max-height: 100%;

		@include media(">tablet") {
			background-color: transparent;
		}
	}
}

.header-spacing {
	width: 100%;
	height: 86px;

	@include media(">tablet") {	
		height: 100px;
	}
}



///// FLOAT RIGHT SECTION /////

.float-right {
	position: absolute;
	right: 0;
	top: 28px;

	@include browser(Firefox) {
		display: inline-flex;
	}

	.social {
		display: none;

		@include media(">tabletwide") {
			display: inline-block;
		}

		ul {
			margin: 0;
		}

		a {
			background-color: #4d707f;
			height: 42px;
			width: 42px;
			border-radius: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26px;
			transition: background-color 200ms ease;

			&:hover {
				color: color('bluedark');
				background-color: #8ca3ad;
			}
		}
	}

	.subscribe {
		display: inline-flex;

		.search-btn {
			background-color: #4d707f;
			color: color('bluedark');
			height: 42px;
			width: 42px;
			border-radius: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26px;
			transition: background-color 200ms ease;
			border: 0;
			margin: 0 15px 0 4px;
			flex-shrink: 0;
			padding: 0;

			.fa {
				margin: 0 auto;
			}

			&:hover {
				color: color('bluedark');
				background-color: #8ca3ad;
			}

			&:focus {
				outline: 0;
			}
		}

		.subscribe-search {
			position: fixed;
			width: 100%;
			left: 0;
			top: 99px;		

			@include media(">tablet") {
				position: relative;
				top: 0;
			}

			.subscribe-btn {
				display: none;
				background-color: color('red');
				color: color('white');
				border: 0;
				padding: 0.55rem 1rem;
				width: 280px;
				text-align: left;
				@include font-size(0.7);
				font-family: $font-family-sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				transition: background-color 200ms ease;

				@include media(">tablet") {
					display: block;
					width: 225px;
				}

				@include media(">tabletwide") {
					width: 240px;
				}

				@include media(">laptop") {
					width: 280px;
				}

				&:hover {
					background-color: lighten( color('red'), 10% );
				}

				&:focus {
					outline: 0;
				}
			}

			.subscribe-form {
				display: none;
				background-color: transparentize( color('bluedark'), 0.2 );
				width: 280px;
				overflow: hidden;
				max-height: 0;
				transition: max-height 500ms ease;

				@include media(">tablet") {
					display: block;
					width: 225px;
				}

				@include media(">tabletwide") {
					width: 240px;
				}

				@include media(">laptop") {
					width: 280px;
				}

				&.active {
					max-height: 250px;
				}

				.ninja-forms-cont {
					padding: 0.5em;
				}

				p {
					@include font-size(0.7);
					margin-bottom: 0.25rem;
					color: color('white');
				}

				.ninja-forms-field-error {
					@include font-size(0.7);
					margin: 0.25rem 0;
					color: color('red');
				}

				input {
					background-color: #babbbb;
					border: 0;
					@include font-size(0.7);
					padding: 0.4rem 0.55rem;
					color: color('bluedark');

					@include placeholder {
						color: color('white');
					}

					&:focus {

						@include placeholder {
							opacity: 0;
						}
					}

				  &:focus {
				  	outline: 0;
				  }
				}

				input[type=submit] {
					color: color('white');
				}

				label {
					display: none;
				}

				.field-wrap {
					margin-bottom: 4px;
				}

				.submit-wrap {
					margin: 0.75rem 0 0;

					input {
						background-color: color('red');
						text-transform: uppercase;
						transition: background-color 200ms ease;
						float: none;

						&:hover {
							background-color: lighten( color('red'), 10% );
						}
					}
				}

				#ninja_forms_field_5_div_wrap {
					width: calc( 50% - 2px );
					margin-right: 4px;
					float: left;
				}

				#ninja_forms_field_6_div_wrap {
					width: calc( 50% - 2px );
					float: left;
				}
			}

			#searchform {
				position: absolute;
		    right: 0;
		    left: 0;
		    height: 0;
		    overflow: hidden;
		    transition: height 500ms ease;

		    @include media(">tablet") {
		    	right: -280px;
		    	left: auto;
		    	top: 0;
		    	transition: right 500ms ease;
		    }

		    &.active {
		    	height: 40px;

		    	@include media(">tablet") {
		    		right: 0;
		    		height: auto;
		    	}
		    }

				input {
					background-color: #4d707f;
					border: 0;
					@include font-size(0.8);
					padding: 0.55rem 1rem;
					width: 100%;
					color: color('bluedark');

					@include media(">tablet") {
						width: 225px;
						@include font-size(0.7);
					}

					@include media(">tabletwide") {
						width: 240px;
					}

					@include media(">laptop") {
						width: 280px;
					}

					@include placeholder {
						color: color('white');
					}

				  &:focus {
				  	outline: 0;

				  	@include placeholder {
				  		opacity: 0;
				  	}
				  }

				  &:focus::-webkit-input-placeholder {
				    opacity: 0;
				  }
				}
			}
		}
	}
}



///// MOBILE SUBSCRIBE /////

.mobile-subscribe {

	@include media(">tablet") {
		display: none;
	}

	.subscribe-btn {
		background-color: color('red');
		color: color('white');
		border: 0;
		padding: 0.55rem 1rem;
		width: 100%;
		text-align: left;
		@include font-size(0.875);
		font-family: $font-family-sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		transition: background-color 200ms ease;

		&:hover {
			background-color: lighten( color('red'), 10% );
		}

		&:focus {
			outline: 0;
		}
	}


	.subscribe-form {
		position: absolute;
		width: 100%;
		background-color: color('bluedark');
		overflow: hidden;
		max-height: 0;
		transition: max-height 500ms ease;

		&.active {
	    max-height: 200px;
		}

		.ninja-forms-cont {
			padding: 0.5em;
		}

		.text-wrap.label-above label {
			display: none;
		}

		p {
			@include font-size(0.7);
			margin-bottom: 0.25rem;
			color: color('white');
		}

		.ninja-forms-field-error {
			@include font-size(0.7);
			margin: 0.25rem 0;
			color: color('red');
		}

		input {
			background-color: #babbbb;
			border: 0;
			@include font-size(0.875);
			padding: 0.4rem 0.55rem;
			color: color('bluedark');

			@include placeholder {
				color: color('white');
			}

			&:focus {

				@include placeholder {
					opacity: 0;
				}
			}

		  &:focus {
		  	outline: 0;
		  }
		}

		input[type=submit] {
			color: color('white');
		}

		.field-wrap {
			margin-bottom: 4px;
		}

		.submit-wrap {
			margin: 0.75rem 0 0;

			input {
				background-color: color('red');
				text-transform: uppercase;
				transition: background-color 200ms ease;
				float: none;

				&:hover {
					background-color: lighten( color('red'), 10% );
				}
			}
		}

		#ninja_forms_field_5_div_wrap {
			width: calc( 50% - 2px );
			margin-right: 4px;
			float: left;
		}

		#ninja_forms_field_6_div_wrap {
			width: calc( 50% - 2px );
			float: left;
		}
	}
}