///// Hero /////

.hero {
	text-align: center;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	@include media("<=tablet") {
		background: none !important;
	}

	video {
		width: 100%;
		height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    z-index: 0;
	}

	.hero-content {
		z-index: 10;
		padding: 7em 0;
		transition: opacity 2500ms ease;
		background-size: cover;
		background-position: center center;

		@include media(">tablet") {
			background: none !important;
		}

		.container {
			opacity: 0;
			transition: opacity 3000ms ease;
			z-index: 100;
			position: relative;

			&.active {
				opacity: 1;
			}
		}

		img {
			height: 86px;

			@include media(">phone") {
				height: 130px;
			}

			@include media(">tablet") {
				height: 200px;
			}
		}

		h1 {
			@include font-size(2.8);
			line-height: 0.8;
			margin-top: 2rem;

			@include media(">tablet") {
				@include font-size(5);
			}

			.reg-mark {
				@include font-size(1.5);
				vertical-align: top;
				margin-top: 5px;
				display: inline-block;
			}
		}

		p {
			@include font-size(1.2);
			color: #ac162c;
			font-style: italic;
			margin: 1rem 0 0;

			@include media(">tablet") {
				@include font-size(2);
			}

			.tm-mark {
				@include font-size(0.9);
				vertical-align: top;

				@include media(">tablet") {
					@include font-size(1.5);
				}
			}
		}
	}

	.site-intro {
		background-color: color('bluedark');
		color: color('white');
		padding: 2.5em 0;
		z-index: 100;
		position: relative;

		@include media(">tablet") {
			background-color: transparentize( color('bluedark'), 0.2 );
		}

		h2 {
			color: color('bluelight');
			@include font-size(2.3);
			margin: 0 0 2rem;

			@include media(">laptop") {
				@include font-size(1.9);
			}

			@include media(">desktop") {
				@include font-size(2.3);
			}
		}

		p {
			margin-bottom: 0;
		}
	}
}


///// Page Titles /////

.page-header {
	border: 0;
	margin: 0 0 2em;
	padding: 0;

	@include media(">tablet") {
		background-image: url(../images/CALLOUT-BG.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center right;
	}

	h1 {
		padding: 6rem 15px;
		margin: 0 -15px;
		color: color('bluedark');
		background-image: url(../images/CALLOUT-BG.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center right;

		@include media(">tablet") {
			background-image: none;
		}
	}

	.sub-title {
		background-color: color('bluedark');
		padding: 1.5em 0;

		@include media(">532px") {
			padding: 3em 0;
		}

		@include media(">tablet") {
			background-color: transparentize( color('bluedark'), 0.2 );
		}

		p {
			margin: 0;
			@include font-size(1.125);
			color: color('white');

			@include media(">phone") {
				@include font-size(1.7);
			}

			strong {
				font-weight: 400;
				color: color('red');
			}
		}
	}
}

.about .page-header,
.testimonials .page-header {

	@include media(">tablet") {
		background-image: url(../images/HEADERS-Interior_ABOUT.jpg);
	}

	h1 {
		background-image: url(../images/HEADERS-Interior_ABOUT.jpg);

		@include media(">tablet") {
			background-image: none;
		}
	}
}

.team .page-header {

	@include media(">tablet") {
		background-image: url(../images/HEADERS-Interior_TEAM.jpg);
	}

	h1 {
		background-image: url(../images/HEADERS-Interior_TEAM.jpg);

		@include media(">tablet") {
			background-image: none;
		}
	}
}

.expertise .page-header {

	@include media(">tablet") {
		background-image: url(../images/HEADERS-Interior_EXPERTISE.jpg);
	}

	h1 {
		background-image: url(../images/HEADERS-Interior_EXPERTISE.jpg);

		@include media(">tablet") {
			background-image: none;
		}
	}
}

.blog .page-header {

	@include media(">tablet") {
		background-image: url(../images/HEADERS-Interior_BLOG.jpg);
	}

	h1 {
		background-image: url(../images/HEADERS-Interior_BLOG.jpg);

		@include media(">tablet") {
			background-image: none;
		}
	}
}

.contact .page-header {

	@include media(">tablet") {
		background-image: url(../images/HEADERS-Interior_CONTACT.jpg);
	}

	h1 {
		background-image: url(../images/HEADERS-Interior_CONTACT.jpg);

		@include media(">tablet") {
			background-image: none;
		}
	}
}


///// Page CTA /////

.page-cta {
	background-color: #f3f1f0;
	padding: 3.25em 0;
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: -3rem;

	h4 {
		@include font-size(1.5);
		color: color('gray');
		margin: 0 0 2rem;
	}

	p {
		margin: 0 0 2rem;
	}
}


///// TEAM PAGE /////

.page-template-template-team {
	overflow-x: hidden;

	.page-header {
		margin: 0;
	}

	.page-cta {
		margin-top: 0;
	}

	.content-container {
		@extend .container;
	}
}

.team-row {
	background-color: #d1cfcf;
	overflow: hidden;

	& > .container {
		@include media(">tablet") {
			display: flex;
		}
	}

	.team-member {
		margin: 0 -15px;
		cursor: pointer;

		@include media(">tablet") {
			width: 50%;
			float: left;
			margin: 0;
			display: flex;
			flex-direction: column;
		}

		.team-member-photo {
			img {
				opacity: 0.8;
				transition: opacity 200ms ease;
				width: 100%;
			}
		}

		&:hover {
			.team-member-photo {
				img {
					opacity: 1;
				}
			}

			.team-member-info {
				.fa-arrow-circle-down {
					color: color('gray');
				}
			}
		}

		.bio-mobile {
			display: none;
			background-color: color('white');
	    padding: 1.5rem 0;
		}

		.team-member-info {
			background-color: #e8e7e6;
			position: relative;

			@include media(">tablet") {
				padding: 1.5em;
		    flex-grow: 1;
			}

			.name {
				margin-top: 0;
				@include font-size(1.5);
				color: color('gray');
				padding: 1.5rem 5.75rem 14px 1.5rem;
				margin: 0;

				@include media(">tablet") {
					padding-top: 0;
					padding: 0 5.75rem 14px 0;
				}
			}

			.position {
				@include font-size(1.1);
				margin-bottom: 0;
				margin-top: 0;
				color: color('gray');
				padding: 0 5.75rem 1.5rem 1.5rem;
				font-family: $font-family-serif;
				font-weight: 400;

				@include media(">tablet") {
					padding-bottom: 0;
					padding: 0 5.75rem 0 0;
					@include font-size(1);
				}

				@include media(">laptop") {
					padding-bottom: 0;
					padding: 0 5.75rem 0 0;
					@include font-size(1.1);
				}
			}

			.fa-arrow-circle-down {
				position: absolute;
				right: 40px;
		    top: 37px;
				font-size: 50px;
				color: transparentize( color('gray'), 0.6 );

				@include media(">tablet") {
					top: calc(50% - 25px);
				}
			}

			&.active {
				background-color: color('white');

				.name {
					color: color('blue');
				}

				.fa-arrow-circle-down {
					color: color('gray');
					transform: rotate(180deg);
				}
			}
		}

		&.active {
			
			.team-member-photo {
				img {
					opacity: 1;
				}
			}

			.team-member-info {
				background-color: color('white');

				.name {
					color: color('blue');
				}

				.fa-arrow-circle-down {
					color: color('gray');
					transform: rotate(180deg);
				}

				.team-member-bio {
					display: block;
				}
			}

			.bio-mobile {
				display: block;

				@include media(">tablet") {
					display: none;
				}
			}
		}

		&:nth-of-type(odd) {
			clear: left;

			.team-member-info {

				@include media(">tablet") {
					margin-left: -2000px;
					padding-left: 2000px;
				}

				.team-member-bio {
					@include media(">tablet") {
						padding: 2.5em 3985px;
					}
				}

				.name {
					@include media(">tablet") {
						padding: 0 4.25rem 14px 0;
					}
				}

				.position {
					@include media(">tablet") {
						padding: 0 4.25rem 0 0;
					}
				}
			}
		}

		&:nth-of-type(even) {
			.team-member-info {

				@include media(">tablet") {
					margin-right: -2000px;
					padding-right: 2000px;
				}

				.fa-arrow-circle-down {
					@include media(">tablet") {
						right: 2040px;
					}
				}

				.team-member-bio {

					@include media(">tablet") {
				    padding-left: 1640px;
					}

					@include media(">tabletwide") {
						padding-left: 1537px;
					}

					@include media(">laptop") {
						padding-left: 1416px;
					}

					@include media(">desktop") {
						padding-left: 1300px;
					}
				}
			}
		}
	}
}

.team-member-bio {
	display: none;
	background-color: color('white');
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  &.active {
  	@include media(">tablet") {
	  	display: block;
	  }
  }
}


///// Homepage Posts /////

.posts-slider-wrapper {
  background-color: #e4e3e2;
	position: relative;

	@include media(">phone") {
		background-color: #bababc;
	}

	.slick-track {
		@include media(">phone") {
			display: flex;
		}
	}

	article.post,
	article.post, article.post:nth-of-type(even) {
		margin: 0;
		flex: 1;
		height: auto;
		outline: 0;

		.entry-more {
			padding-bottom: 0;
			
			@include media(">phone") {
				padding-bottom: 1.75em;
			}
		}
	}	
}

.posts-slider-bg {
	background-color: color('bluedark');
	position: absolute;
	width: 100%;
	min-height: 100px;
}

.posts-slider {
	margin: 0 -15px;

	@include media(">phone") {
		margin: 0 auto;
		max-width: calc( 100% - 140px );
	}

	@include media(">desktop") {
		max-width: 1130px;
	}

	.slick-prev,
	.slick-next {
		@include font-size(0.7);
		line-height: 1;
		color: color('white');
		width: auto;
    height: auto;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-top: 1px solid color('white');
    border-bottom: 1px solid color('white');
		transition: 200ms opacity ease;

		@include media(">desktop") {
			width: 100px;
		}

		&.slick-disabled {
    	opacity: 0.3;
    	cursor: auto;

    	&:hover {
    		background-color: transparent;

    		.hover {
    			display: none;
    		}
    	}
    }

    &:before,
    &:after {
    	content: '';
    	height: 1px;
    	width: 32px;
    	background-color: color('white');
    	position: absolute;
    	opacity: 1;
    }
	}

	.slick-prev {
		left: -50px;

		@include media(">desktop") {
			left: -100px;
		}

		&:before {
			transform: rotate(-52deg);
			left: -25px;
	    top: 11px;
	    z-index: 10;
		}

		&:after {
			transform: rotate(52deg);
			left: -25px;
	    top: 36px;
		}

		&:hover {
			background-color: lighten( color('bluedark'), 5% );			

			.hover {
				width: 18px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: -18px;
		    background-color: lighten( color('bluedark'), 5% );

		    &:before,
		    &:after {
		    	content: '';
		    	height: 19px;
		    	width: 32px;
		    	background-color: color('bluedark');
		    	position: absolute;
		    }

		    &:before {
	  			transform: rotate(-52deg);
	  			left: -15px;
			    top: -4px;
		    }

		    &:after {
	  			transform: rotate(52deg);
	  			left: -15px;
			    top: 33px;
		    }
		  }
		}
	}

	.slick-next {
		right: -50px;

		@include media(">desktop") {
			right: -100px;
		}

		&:before {
			transform: rotate(52deg);
			right: -25px;
	    top: 11px;
	    z-index: 10;
		}

		&:after {
			transform: rotate(-52deg);
			right: -25px;
	    top: 36px;
		}

		&:hover {
			background-color: lighten( color('bluedark'), 5% );			

			.hover {
				width: 18px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    right: -18px;
		    background-color: lighten( color('bluedark'), 5% );

		    &:before,
		    &:after {
		    	content: '';
		    	height: 19px;
		    	width: 32px;
		    	background-color: color('bluedark');
		    	position: absolute;
		    }

		    &:before {
		    	transform: rotate(52deg);
	  			right: -15px;
			    top: -4px;
		    }

		    &:after {
	  			transform: rotate(-52deg);
	  			right: -15px;
			    top: 33px;
		    }
		  }
		}
	}

	.entry-summary {
		p {
			margin-bottom: 0;
			@include font-size(0.9);
		}
	}

	header {
		h2 {
			@include font-size(1.4);
		}
	}
}

.posts-slider-link {
  background-color: #e4e3e2;
  @include font-size(1);
  padding: 30px 0;

	@include media(">phone") {
		display: none;
	}
}



///// HOMEPAGE TWITTER FEED /////

.twitter {
	background-color: color('red');
	color: color('white');
	text-align: center;
	padding: 2.5em 0;
	margin-bottom: -3rem;

	h2 {
		color: color('white');
		margin-top: 0;
	}

	.twitter-feed {
		max-width: 100%;
		width: 650px;
		margin: 2.5em auto;
		position: relative;

		@include media(">phone") {
			max-width: calc(100% - 330px);
		}

		.quote-right,
		.quote-left {
			display: none;
			background: url(../images/quote.png) no-repeat;
			background-size: 100%;
			width: 100px;
			height: 85px;
			position: absolute;
			top: -15px;

			@include media(">phone") {
				display: block;
			}
		}

		.quote-right {
			right: -150px;
			transform: rotate(180deg);
		}

		.quote-left {
			left: -150px;
		}

		.slick-slide {
			outline: 0;
		}

		a {
			color: color('white');
			opacity: 0.5;
			transition: opacity 200ms ease;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}


///// Contact Page /////

.contact-page {
	background-color: #e4e3e2;
	margin-top: -145px;

	@include media(">tablet") {
		margin-top: -115px;
	}

	h2 {
		color: color('gray');
		@include font-size(1.4);
		border-bottom: 2px solid lighten( color('gray'), 30%);
		margin-top: 0;
		padding-bottom: 0.75rem;
		margin-bottom: 1.5rem;
	}

	.contact-content {
		padding: 30px;

		@include media(">tablet") {
			padding: 65px;
		}

		@include media(">laptop") {
			padding: 65px 95px;
		}

		a {
			color: #9e9e9f;
			transition: color 200ms ease;

			&:hover {
				color: darken(#9e9e9f, 10%);
			}
		}

		p {
			color: #9e9e9f;
		}
	}

	.contact-form {
		padding-top: 40px;

		@include media('>tablet') {
			padding-top: 0;
		}
	}
}

.page-template-template-contact {

	.page-header {
		margin-bottom: 0;
		padding: 0 0 5em;
	}

	.required {
		position: absolute;
    top: 10px;
    right: 15px;
    @include font-size(0.7);
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #9e9e9f;

    @include media('>tablet') {
    	top: -40px;
    }
	}
}



///// Expertise /////

section.expertise {
	display: flex;

	.expertise-image {
		display: none;
		background-size: cover;
		background-position: center center;

		@include media(">tabletwide") {
			display: block;
			flex: 0 0 31.33%;
			margin-right: 5%;
		}
	}

	.expertise-content {
		flex: 1;
		border-bottom: 1px solid #bdbbbb;
		padding: 3em 0;

		h2 {
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	&:last-of-type {

		.expertise-content {
			border: 0;
		}
	}
}

.page-template-template-expertise {

	.page-header {
		margin-bottom: 0;
	}

	.page-cta {
		margin-top: 0;
	}
}

.page-template-template-testimonials {

	.page-header {
		margin-bottom: 0;
	}

	.testimonial-item {
		border-bottom: 1px solid #bdbbbb;
		padding: 3.5rem 0;

		&:last-of-type {
			border-bottom: 0;
		}

		.title {
			margin: 0;
		}

		.name {
			color: color('blue');
			margin: 0;
			font-family: $headings-font-family;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}