body.blog,
body.archive {
	background-color: #b9b8b9;

	.content main {

		& > .container {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.page-header {
		margin-bottom: 0;
	}
}

article.post {
	flex: 0 0 calc( 100% + 30px );
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 1.25em;
	background-color: #e4e3e2;

	@include media(">phone") {
		flex: 0 0 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@include media(">tabletwide") {
		flex: 0 0 48.4%;
		margin-right: 2.9%;

		&:nth-of-type(even) {
			margin-right: 0;
		}
	}

	@include media(">laptop") {
		flex: 0 0 31%;
		margin-right: 3%;

		&:nth-of-type(even) {
			margin-right: 3%;
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}

	.featured-image {
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(119, 119, 122, 0.25);
			position: absolute;
			left: 0;
			top: 0;
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	header {
		padding: 1.25em 15px;

		@include media(">phone") {
			padding: 1.25em 1.75em;
		}

		time,
		.byline {
			@include font-size(0.8);
			color: #979799;
			font-family: $font-family-sans-serif;
			font-weight: 700;

			a {
				color: #979799;

				&:hover {
					color: color('gray');
				}
			}
		}

		time {
			text-transform: uppercase;
		}

		h2 {
			@include font-size(1.5);
			text-transform: lowercase;
			margin: 1rem 0 0;

			a {
				color: color('gray');
				transition: color 200ms ease;

				&:hover {
					color: #b9b8ba;
				}

				&:focus {
					outline: 0;
				}
			}
		}
	}

	.entry-summary {
		padding: 0 15px 1.25rem;

		@include media(">phone") {
			padding: 0 1.75rem 1.25rem;
		}

		p {
			margin-bottom: 0;
			@include font-size(0.95);
		}
	}

	.entry-more {
		padding: 0 15px 1.75em;
		display: flex;

		@include media(">phone") {
			padding: 0 1.75em 1.75em;
		}

		.btn-primary {
			font-size: 14px;
			padding: 18px;
		}

		button.btn {
			font-size: 27px;
	    padding: 10px;
	    color: #e5e3e3;
		}

		.share-menu {
			background-color: #b9b8b9;
			display: flex;
			width: 0;
			overflow: hidden;
			transition: width 400ms ease;
			height: 50px;
			
			a {
				font-size: 27px;
		    color: #e5e3e3;
		    width: 50px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    transition: background-color 200ms ease;

		    &:hover {
		    	background-color: #989799;
		    }
		  }
		}

		&.active {

			button.btn {
				display: none;
			}

			.share-menu {
				width: 150px;
			}
		}
	}
}

div.pagination {
	flex: 0 0 100%;
}


///// Single Post /////

body.single {

	article.post {
		background-color: transparent;
		margin: 0;

		.page-header {
			position: relative;
			padding: 0;
	    background-image: url(../images/CALLOUT-BG.jpg);

			.container {
				display: flex;
				align-items: center;
			}
			
			img {
				display: none;
		    margin-right: 3em;
		    flex-shrink: 0;

		    @include media(">tablet") {
		    	display: inline;
		    	width: 300px;
		    	height: auto;
		    }

		    @include media(">tabletwide") {
		    	width: 400px;
		    	height: auto;
		    }

		    @include media(">laptop") {
		    	width: 500px;
		    	height: auto;
		    }
			}

			.page-header-content {
				padding: 2em 0;

				@include media(">tablet") {
					padding: 1em 0;
				}
			}

			h1 {
				padding: 0 0 1rem;
				margin: 0;
				background-image: none;

				@include media(">tablet") {
					@include font-size(2);
				}

				@include media(">tabletwide") {
					@include font-size(2.75);
				}
			}
		}

		.post-intro {
			margin: 1.5em 0 3.25em;
			padding-bottom: 2.5em;
			border-bottom: 1px solid #bcbbba;

			p {
				@include font-size(1.7);
			}
		}
	}
}



/////	POSTS FILTER /////

.posts-filter {
	background-color: #9e9e9f;
	margin-bottom: 3.5em;
	position: relative;

	.searchandfilter {
		height: 0;
		overflow: hidden;

		select.sf-input-select {
			opacity: 0;
			width: 180px;
		}

		@include media(">tablet") {
			height: auto;
			overflow: visible;
		}

		&.active {
			height: auto;
			overflow: visible;
		}

		& > ul {
			padding: 0;

			& > li {

				@include media(">tablet") {
					display: inline-block;
				}

				&.sf-field-category,
				&.sf-field-author {
					position: relative;
			    margin-right: 40px;

			    @include media(">tablet") {
						margin-right: 28px;

						&:after {
							content: '';
							display: block;
							width: 2px;
							height: 25px;
							background-color: #bcbbba;
							position: absolute;
					    top: calc(50% - 12.5px);
					    right: 0;
						}
					}

			    @include media(">tabletwide") {
						margin-right: 40px;
					}
				}

				&.sf-field-post_date {

					input {
						background-color: transparent;
						border: 0;
						color: #e4e3e2;
						font-weight: 400;
						@include font-size(0.9);
						width: 140px;

						@include media(">tablet") {
							@include font-size(0.8);
						}

						@include media(">tabletwide") {
							@include font-size(0.9);
						}

						@include placeholder {
					    color: #e4e3e2;
					    font-weight: 400;
					    opacity: 1;
					  }
					}
				}

				&.sf-field-submit {
					input {
						@extend .btn;
						@extend .btn-primary;
				    padding: 0.6rem 1.5rem;
					}
				}

				&.sf-field-reset {
					position: absolute;
					top: -2px;
					right: 20px;

					@include media('>phone') {
						top: -4px;
					}

					@include media('>tablet') {
						position: relative;
						top: 0;
						right: 0;
					}

					a {
						color: #e4e3e2;
						@include font-size(0.9);

						@include media('>tablet') {
							@include font-size(0.8);
						}

						@include media('>tabletwide') {
							@include font-size(0.9);
						}

						&:hover {
							color: color('white');
						}
					}
				}
			}
		}

		.sf-field-post_date {

			.sf_date_field {
				padding: 0;

				li {
					display: inline-block;
				}

				input {
					cursor: pointer;

					@include media('>tablet') {
						width: 120px;
					}

					@include media('>tabletwide') {
						width: 140px;
					}

					&:hover, 
					&:focus {
						color: color('white');
						outline: none;
					}
				}
			}
		}

		.sf-field-reset {
			padding: 15px 0;

			@include media(">tablet") {
				float: right;
			}
		}
	}

	.bootstrap-select {

		select {
			display: none!important;
		}

		.dropdown-toggle {
			background-color: transparent;
			@include font-size(0.9);
			padding: 10px 0;
			color: #e4e3e2;

			@include media(">tablet") {
				@include font-size(0.8);
			}

			@include media(">tabletwide") {
				@include font-size(0.9);
			}

			&:hover {
				background-color: transparent;
				color: color('white');
			}

			.bs-caret {
				display: none;
			}
		}

		.dropdown-menu {
			background-color: #848486;
			border: 0;
			@include font-size(0.9);
			margin: 10px 0 0 0;
			padding: 0;

			@include media(">tablet") {
				margin: 10px 0 0 -30px;
				background-color: #9e9e9f;
				@include font-size(0.8);
			}

			@include media(">tabletwide") {
				@include font-size(0.9);
			}

			li {
				padding: 0;

				a {
			    padding: 8px 30px;

			    &:hover {
			    	background-color: #9e9e9f;
			    	@include media(">tablet") {
				    	background-color: #848486;
				    }
			    }
				}
			}
		}
	}

	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 180px;

		@include media(">tablet") {
			width: 160px;
		}

		@include media(">tabletwide") {
			width: 180px;
		}
	}

	.toggle-filters {
		background-color: transparent;
		color: #e4e3e2;
		border: 0;
		@include font-size(0.9);
		margin: 10px 0;

		&:hover,
		&:focus {
			color: color('white');
			outline: none;
		}

		@include media(">tablet") {
			display: none;
		}

		.fa {
			margin: 0 10px;
			padding: 0 10px;
			font-size: 30px;
	    vertical-align: middle;
	    border-left: 2px solid #bcbbba;
	    border-right: 2px solid #bcbbba;
	    color: color('white');
		}
	}
}

.searchandfilter-date-picker {

	#ui-datepicker-div {
		background-color: #9e9e9f;
		border-radius: 0;
		box-shadow: none;
		margin-top: 10px;

		.ui-datepicker-header {

			.ui-datepicker-prev {
				color: #e4e3e2;
				top: 1.2em;

				&:hover {
					color: color('white');
				}

				&:after {
					content: '\f104';
			    font-family: fontawesome;
			    line-height: 1;
			    display: block;
			    font-size: 30px;
			    margin: 7px 14px;
			    top: -12px;
			    position: absolute;
			    left: -2px;
				}

				.ui-icon {
					display: none;
				}
			}

			.ui-datepicker-next {
				color: #e4e3e2;
				top: 1.2em;

				&:hover {
					color: color('white');
				}

				&:after {
					content: '\f105';
			    font-family: fontawesome;
			    line-height: 1;
			    display: block;
			    font-size: 30px;
			    margin: 7px 14px;
			    top: -12px;
			    position: absolute;
			    right: -2px;
				}

				.ui-icon {
					display: none;
				}
			}
		}

		.ui-datepicker-calendar {

			th {
				border: 0;
				color: color('white');
			}

			td {
				background-color: #9e9e9f;

				.ui-state-default {
					color: color('white');

					&.ui-state-hover {
						background-color: #848486;
					}
				}

				&.ui-state-disabled .ui-state-default {
					color: #bdbdbd;
				}
			}
		}
	}

	.ui-datepicker .ui-datepicker-title select {
		background-color: #c4c4c5;
		color: color('white');
		@include font-size(0.7);
		padding: 10px 15px;
		border-radius: 0;
		border: 0;
		appearance: none;
		line-height: 1;
		background-size: 13px;
    background-position: 90%;

		&:focus {
			outline: 0;
		}

		& + select {
			margin-left: 5px;
		}
	}
}
